body {
    background-color: #edf5e1;
}

.ant-btn.no-bg, .no-bg {
    background: transparent !important;
}

.ant-btn.no-border, .no-border {
    border: none !important;
}

.text-white {
    color: white;
}
