.footer .market {
    background-color: #c11a26;
    text-align: center;
    padding: 14px 24px;
}

.footer span {
    color: white;
}

.footer .brand {
    text-align: center;
    padding: 14px 24px;
    background-color: #333;
}
